* {
  margin: 0;
}

body {
  width: 100vw;
  height: 50vh;
  background-image: url('img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.header__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(5%);
  font-size: xx-large;
  text-align: center;
  width: 100vw;
  height: 50vh;
}

.play {
  position: absolute;
  width: 150px;
  height: 70px;
  line-height: 70px;
  margin: 4px 0;
  border: 2px solid;
  z-index: 1;
}

.timer,
.counter {
  width: 150px;
  height: 70px;
  line-height: 70px;
  margin: 4px 0;
  border: 2px solid;
  transform: translateY(85px);
}

.timer {
  background-color: rgb(129, 60, 60);
  border-radius: 10%;
}
.counter {
  width: 70px;
  background-color: rgb(165, 109, 109);
  border-radius: 10%;
}

.play {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: rgb(240, 158, 65);
  border-radius: 50%;
  cursor: pointer;
}

.message {
  transform: translateY(300px);
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: black;
  opacity: 70%;
  line-height: 100px;
  font-size: 30px;
  color: white;
  border-radius: 10%;
  z-index: 0;
}

.target {
  z-index: -2;
  position: relative;
  width: 100vw;
  height: 200px;
}

.carrot,
.bug {
  z-index: -1;
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: auto;
  cursor: pointer;
}

.carrot {
  background-image: url('img/carrot.png');
}

.bug {
  background-image: url('img/bug.png');
}
